body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  border-bottom: solid 1px hsl(210,8%,90%);
}

.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.header__top > h1{
  margin: 0;
  line-height: 0.99;
  font-weight: 400;
}

.header__top > button{
  padding: 8px;
  background-color: hsl(206,100%,52%);
  border: none;
  border-radius: 2px;
  color: #fff;
}

.header__top > button:hover {
  background-color: hsl(209,100%,37.5%);
}

.header__top > button:active {
  background-color: hsl(209,100%,37.5%);
}

